body {
    margin: 0;
    background-image: url('./img/Highway_Background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#options {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options label {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.box {
    background-color: white;
    margin: 5px;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.box:hover {
    background-color: #f1f1f1;
}

.box:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-right: 5px;
}

.box:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 20px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin-left: 5px;
}
h1 {
    font-family: Arial, sans-serif;
    font-size: 70px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: black;
}