body {
    background-image: url('./img/EN_Background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .form-container {
    display: flex;
    padding: 20px;
    align-items: center;
  }

  .form {
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-left: 50px;
    justify-content: center; 
  }
  
  legend {
    display: flex;
    font-size: 18px;
    font-weight: bold;
  }
  
  fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  label {
    display: inline-block;;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="number"]{
    width: 50px; /* Defina a largura desejada para os inputs */
  }

  input[type="text"]{
    width: 50px; /* Defina a largura desejada para os inputs */
  }

  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #333;
  }
  